
body {
  font-family: 'Playfair Display', serif;
  background-color: #000;
  color: deeppink;
}

#quiz-box {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: .5;
}

.quiz {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
}

.btn {
  width: 12em;
  display: inline-block;
  bottom: 150px;
  border-radius: 4px;
  border: 3px solid gray;
  color: #000;
  font-weight: bolder;
  background-color: deeppink;
  padding: 15px;
  margin: 10px;
  /* transition: .3s ; */
  text-decoration: none;
}

.startbtn {
  /* display: inline-block; */
  margin-left: 40%;
  margin-top: 5%;
  width: 12em;
  bottom: 150px;
  border-radius: 4px;
  border: 3px solid gray;
  color: #000;
  font-weight: bolder;
  background-color: deeppink;
  padding: 15px;
  /* margin: 10px; */
  text-decoration: none;


}

.startbtn:hover {
    color: #FFF;
  outline: 2px groove #FFF;

}

.btn:hover {
    color: #FFF;
  outline: 2px groove #FFF;
}

.btn:focus {
  outline: none;
}
